<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='images.css') }}">
    <title>Images Page</title>
</head>
<body>
    <h1> Here are Your Beautiful Searched Images</h1>
    <div class="cards">
    {% for image_name in file_name %}
    <div class="card">
        <img src="{{ url_for('static', filename='images/' + image_name) }}" alt="{{ image_name }}">
        <div class="card-content">
            <h2>{{ image_name }}</h2>
            <p>Description of {{ image_name }}.</p>
        </div>
    </div>
    {% endfor %}
</div>
    <h1>Follow me here<a href="https://github.com/fab-c14">Github Account</a></h1>
</body>
</html>