<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Search For An Image</title>
</head>
<body>

<div class="container">
    <h1>Search</h1>
    <form action="/images" method="post" class="search-form">
        <input type="text" id="images" name="images" placeholder="Enter your search">
        <button type="submit">Search</button>
    </form>
</div>

</body>
</html>
